#scratchpad {
    color:         @subtext;
    padding:       0 6px;
}

#custom-stat.updates {
    color:         @primary;
}

#custom-theme {
    color:          @primary;
    padding-left:   10px;
    padding-right:  16px;
}

#custom-theme label {
    min-width: 48px;
}

#custom-power {
    color:          @subtext;
    padding-left:   8px;
    padding-right:  10px;
}

#idle_inhibitor {
    color:          @subtext;
    padding-left:   8px;
    padding-right:  10px;
}

#idle_inhibitor.activated {
    color: @primary;
}

#pulseaudio {
    color:          @subtext;
    padding-left:   8px;
    padding-right:  10px;
}

#clock {
    color:       @primary;
    font-weight: 700;
    padding:     0 4px;
}

#clock.date {
    color:       @subtext;
    font-weight: 600;
    padding:     0 4px;
}

#clock.date label {
    font-weight: 400;
}

#mode,
#submap {
    background:  transparent;
    color:       @error;
    font-weight: 900;
    font-style:  italic;
}

#cpu {
    color: @subtext;
    padding: 0 4px;
}
#cpu.warning {
    color: @warning;
}
#cpu.critical {
    color: @error;
}

#memory {
    color: @subtext;
    padding: 0 4px;
}
#memory.warning {
    color: @warning;
}
#memory.critical {
    color: @error;
}

#network {
    color: @subtext;
}

#tray {
    padding: 0 4px;
}

#custom-root-disk,
#custom-home-disk {
    color: @subtext;
    padding: 0 4px;
}
#disk.warning {
    color: @warning;
}
#disk.critical {
    color: @error;
}