#workspaces {
    margin: 0 4px;
}

#workspaces button {
    padding:          2px 7px;
    margin:           0 1px;
    color:            @subtext;
    background:       transparent;
    border-bottom:    2px solid transparent;
    transition:       all 120ms ease;
}

#workspaces button:hover {
    background:    @surface0;
    color:         @text;
    border-bottom: 2px solid @primary;
}

#workspaces button.active,
#workspaces button.focused {
    color:         @primary;
    font-weight:   900;
    border-bottom: 2px solid @primary;
}

#workspaces button.persistent {
    color:   @subtext;
    opacity: 0.8;
}