[Unit]
Description=VeLinux Quickshell
Documentation=https://quickshell.org
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/sh -c 'QT_QPA_PLATFORM=wayland exec quickshell -p %h/.config/quickshell'
Restart=on-failure
RestartSec=3
PassEnvironment=SWAYSOCK I3SOCK WAYLAND_DISPLAY DISPLAY XDG_CURRENT_DESKTOP

[Install]
WantedBy=default.target
