[Unit]
Description=Refresh zypper repositories
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/zypper refresh
User=root
